<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Krzysztof Kogut.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01202FDB2667F22B004EB987</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01202FF42667F22C004EB987</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01202FFF2667F22C004EB987</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
